{% extends 'helpdesk/base.html' %}
{% load widget_tweaks %}


{% block title %}{% endblock title %}
{% block body %}

{% if user.rol.is_agent %}
<!-- [ navigation menu ] start -->
{% include 'helpdesk/navbar_agent.html' %}
<!-- [ navigation menu ] end -->
{% else %}
<!-- [ navigation menu ] start -->
{% include 'helpdesk/navbar.html' %}
<!-- [ navigation menu ] end -->
{% endif %}


<!-- [ Header ] start -->
{% include 'helpdesk/header.html' %}
<!-- [ Header ] end -->
<div class="pcoded-main-container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h3>Abrir ticket</h3>
                </div>
                <div class="card-body">
                    <div class="col-md-6">
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label>Mi departamento:</label>
                                {% render_field form.department class="form-control" %}
                            </div>
                            <div class="form-group">
                                <label for="">Categoría:</label>
                                {% render_field form.category class="form-control"%}
                            </div>
                            <div class="form-group">
                                <label for="">Ya fue escalado?</label>
                                {% render_field form.is_escalated class=""%}
                                <small id="emailHelp" class="form-text text-muted">Marca esta casilla solamente si este
                                    issue ya fue reportado previamente.</small>
                            </div>
                            <div class="form-group">
                                <label for="">Subject</label>
                                {% render_field form.subject class="form-control"%}
                            </div>
                            <div class="form-group">
                                <label for="">Descripción</label>
                                {% render_field form.description class="form-control"%}
                            </div>
                            <input type="submit" value="Enviar">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock body %}