{% extends 'helpdesk/base.html' %}
{% load widget_tweaks %}


{% block title %}Rol{% endblock title %}
{% block body %}

{% include 'helpdesk/navbar.html' %}
{% include 'helpdesk/header.html' %}
<div class="pcoded-main-container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h3>Elige tu rol</h3>
                </div>
                <div class="card-body">
                    Por propósitos de que puedan explorar más allá los features de la aplicación. Habilité también la
                    vista que tendrían si fueran agentes, es decir: El programa (en su fomar más elemental), cuenta con
                    2 "perfiles" de usuario. Un usuario "regular" (el que crea ticketes) y un usuario "agente" que tiene
                    la posibilidad de decidir el outcome de un tiquete.

                </div>
                <div class="card-body">
                    <div class="col-md-6">
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                {% render_field form.rol class="" name="rol" %}
                            </div>
                            <input type="submit" class="btn btn-primary" value="Enviar">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock body %}